a{
    text-decoration: none;
    color:white;
}

/* !_________________________ SEARCH_____________ */
.top-search{
    height: 80px;
    background-color: red;
    justify-content: space-between;
    align-items:center ;
    padding: 10px;
}

.top-search-left-item > i{
    background-color: black;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    vertical-align: middle;
    color: white;
    margin-right: .5rem;
}

.top-search-left-item input{
    border-radius: 20px;
    height: 40px;
    width: 300px;
    border: none;
    padding-left: 3rem;
}

.fa-search{
    color: black;
    height: 4rem;
    padding: .5rem;
}

/* ! _______________YOUR TOP GENRES_____________*/

.title-top-genres a{
    color: black;
    padding: 10px;
}

.container-top-genres{
    height: 250px;
    background-color: blue;
    padding: 10px;
    overflow-x: scroll;
    flex-shrink: 0;
}

.top-genre-item {
    height: 200px;
    width: 400px;
    border-radius: 20px; 
    background-color:orange;
    margin-right: 1rem;
}

.title-genre {
    top: 0;
    left: 50px;
    z-index: 1;
    color: black;
}

.browse a{
    color:black;
    padding: 10px;
    margin: .5rem;
}

/* ! _______________________ ALL GENRES_______________*/

.title-all-genres a{
    color: black;
    padding: 10px ;
}

.container-all-genres{
    padding: 5px 10px;
    flex-wrap: wrap;
}

.genre-item{
    background-color: aquamarine;
    height: 200px;
    width: 150px;
    margin:.5rem .5rem ;
    border-radius: 20px;
}

.genre-item-title{
    top: 1rem;
    left: 1rem;
}