*{
    color: white;
}

body{
    min-width: 50vw;
    min-height: 50vh;
    overflow: hidden;
}

a{
    text-decoration: none;
}

.main-content{
    background-color: #141922;
}

/* !_________________________ SEARCH_____________ */
.top-search{
    height: 80px;
    justify-content: space-between;
    align-items:center ;
    padding: 10px;
}

.top-search-left-item > i{
    background-color: rgb(34, 33, 33);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    vertical-align: middle;
    margin-right: .5rem;
}

.top-search-left-item input{
    border-radius: 20px;
    height: 40px;
    width: 300px;
    border: none;
    padding-left: 3rem;
}

.fa-search{
    color: black;
    height: 4rem;
    padding: .5rem;
}

input{
    color: grey;
}
input[type=search]:focus{
    outline: none !important;
}
/* ? ++++  placeholder search+++++  */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gray;
    font-weight: 700;
    /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
}  

::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
}
/* ! _______________YOUR TOP GENRES_____________*/

.title-top-genres{
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 900;
}

.container-top-genres{
    height: 250px;
    padding: 10px;
    overflow-x: scroll;
    margin-bottom: 2rem;
}

.top-genre-item {
    height: 200px;
    width: 300px;
    border-radius: 20px; 
    margin-right: 1rem;
    flex-shrink: 0;
    overflow: hidden;
    
}

.top-genre-item a{
    font-size: 1.5rem;
    font-weight: 900;
}

.rock{
    background-color: red;
}

.pop{
    background-color: #608108;
}

.dance{
    background-color: #8d67ab;
}

.electronic{
    background-color: #618b8c;
}

.indie{
    background-color: #dc148c;
}

.top-genre-item > img{
    width: 130px;
    height: 130px;
    transform: rotate(25deg);
    bottom: -15px;
    right: -15px;
    
}

.title-genre {
    top: 0;
    left: 50px;
    z-index: 1;
}

/* ! _______________________ ALL GENRES_______________*/

.title-all-genres a{
    padding: 10px ;
    font-weight: 900;
    font-size: 1.5rem;
}

.container-all-genres{
    padding: 5px 10px; 
    flex-wrap: wrap;
}

/* ? felx */
.all-genre-item{
    width: calc((100% / 6) - 1rem);
    height: 200px;
    margin:.5rem .5rem ;
    border-radius: 20px;
    flex-shrink: 0;
    overflow: hidden;
}

.all-genre-item a{
    font-weight: 900;
}

.all-genre-item img{
    width: 80px;
    height: 80px;
    transform: rotate(35deg);
    bottom:0;
    right: 0;
}

.genre-item-title{
    top: 1rem;
    left: 1rem;
}


/* colours */
.red{
    background-color: red;
}

.blue{
    background-color: #1e3264;
}

.violet{
    background-color: #8d67ab;
}

.orange{
    background-color: #ba5d07;
}

.salmon{
    background-color: #e8115b;
}

.green{
    background-color: #148a08;
}

/* ! _____________________LARGE__________ */
@media screen and (min-width:992px) and (max-width:1199px) {
    

    /* ? ALL GENRE ITEM */
    /* ? felx */
    .all-genre-item{
        width: calc((100% / 6) - 1rem);
        height: 200px;
        margin:.5rem .5rem ;
        border-radius: 20px;
        flex-shrink: 0;
        
    }


}

/* !_____________________MEDIUM__________ */
@media  screen and (min-width:768px) and (max-width:991px) {
       /* ? ALL GENRE ITEM */
    /* ? felx */
    .all-genre-item{
        width: calc((100% / 4) - 1rem);
        height: 200px;
        margin:.5rem .5rem ;
        border-radius: 20px;
        flex-shrink: 0;
        
    } 

  
}

/* !_____________________SMALL___________ */
@media  screen and (min-width:577px) and (max-width:767px) {
    /* ? ALL GENRE ITEM */
    /* ? felx */
    .all-genre-item{
        width: calc((100% / 2) - 1rem);
        height: 200px;
        margin:.5rem .5rem ;
        border-radius: 20px;
        flex-shrink: 0;
        
    }


  
}

/* !____________________EXTRA SMALL______ */
@media screen and (max-width:576px) {

    /* ? ALL GENRE ITEM */
    /* ? felx */
    .all-genre-item{
        width: calc((100% / 2) - 1rem);
        height: 200px;
        margin:.5rem .5rem ;
        border-radius: 20px;
        flex-shrink: 0;
        
    }

}


